@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #fffbef;
  --foreground: #353535;
  --dandara: #ffcc00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
  --font-mono: var(--font-inconsolata);
  --font-work: var(--font-work);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.textmarker-effect-hover {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;

  &:before {
    position: absolute;
    z-index: -1;
    content: "";
    background: var(--dandara);
    height: 30px;
    left: 0;
    bottom: -5px;
    width: 0%;
    opacity: 0.7;
    transition: all 0.5s;
  }

  &:hover:before {
    width: 100%;
  }
}

@keyframes highlighter-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.textmarker-effect-auto {
  display: inline;
  position: relative;

  &:before {
    position: absolute;
    z-index: -1;
    content: "";
    background: var(--dandara);
    height: 120%;
    left: 0;
    bottom: -5px;
    width: 0%;
    opacity: 0.7;
    transition: all 0.5s;
    animation: highlighter-animation 2s ease-in-out forwards;
  }
}

@keyframes highlighter-animation-mvp {
  0% {
    background-size: 0;
  }
  100% {
    background-size: 100%;
  }
}

.highligther {
  background: url("/highlighter-with-opacity.svg");
}

/* Highlighter animation */

.highligther-animated {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  display: inline;
  background: url("/highlighter-with-opacity.svg");
  background-repeat: repeat-y;
  transition: all 0.5s;
  animation: highlighter-animation-mvp 2s ease-in-out forwards;
}

.highligther-animated:hover {
  background: url("/highligther.svg");
}

@keyframes sunshine {
  0% {
    scale: 1;
  }
  50% {
    background: radial-gradient(var(--dandara), transparent);
  }
  100% {
    scale: 2;
  }
}

@keyframes shimmer {
  0% {
    box-shadow:
      0 0 5px 5px var(--dandara),
      0 0 5px 5px orange inset;
  }
  100% {
    box-shadow:
      0 0 35px 5px var(--dandara),
      0 0 25px 10px orange inset;
  }
}

.dandara-sun {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(var(--dandara) 70%, transparent 100%);
  position: relative;
  z-index: 1;
}

.dandara-sun::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(orange 10%, transparent 100%);
  opacity: 0;
  transition: opacity 0.4s;
  z-index: -1;
  box-shadow:
    0 0 5px 5px var(--dandara),
    0 0 5px 5px orange inset;
  border-radius: 100%;
}

.dandara-sun:hover::before {
  opacity: 1;
  transition: opacity 0.5s;
  animation: shimmer 1s ease-in infinite alternate;
}

/* Live post component */

.live-post-signal:hover ~ .live-post-tip {
  display: block;
}

.live-post-signal:hover {
  animation: none;
  opacity: 100%;
}

/* Blog post */
.blog-post > h1 {
}

.animate-ping {
  animation-iteration-count: 5;
}

.right-arrow:hover::after {
  content: " →";
}

.down-arrow:hover::after {
  content: " ⤓";
}
