@import "tailwindcss/base";
@import "tailwindcss/components";

@font-face {
	font-family: "Manrope";
	src: url("../public/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
}

@font-face {
	font-family: "Fivo Sans Modern";
	src: url("../public/fonts/FivoSansModern-Bold.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
}

.call::after {
	content: " →";
}

.call:hover::after {
	content: " ⟶";
}

nav p::after,
.itemLink::after {
	content: " ⟶";
}

nav p:hover::after,
.itemLink:hover::after {
	content: " →";
}

.showcase {
	background-color: purple;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}

@import "tailwindcss/utilities";
