@import "tailwindcss/base";
@import "tailwindcss/components";

@font-face {
	font-family: "Manrope";
	src: url("../public/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
	font-display: fallback;
}

@font-face {
	font-family: "Fivo Sans Modern";
	src: url("../public/fonts/FivoSansModern-Bold.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
	font-display: fallback;
}

:root {
	--brand-yellow: #ffe400;
	--brand-black: #0b0b0d;
	--brand-gray: #e8eae6;
}

body {
	margin: 0;
}

.yellow-stroke {
	-webkit-text-stroke: 2px var(--brand-yellow);
	color: var(--brand-black);
}

.gray-stroke {
	-webkit-text-stroke: 2px var(--brand-gray);
	color: var(--brand-gray);
}

.rolling {
	display: inline-block;
	transform: translateY(-60%);
	color: white;
}

.rolling {
	animation: rollDown 2s linear infinite;
}

@keyframes rollDown {
	0% {
		transform: translateY(-50%);
		color: white;
	}

	50% {
		transform: translateY(0);
		color: #212121;
	}

	100% {
		transform: translateY(50%);
		color: white;
	}
}

/* Animating link arrows */
.call::after {
	content: " →";
}

.call:hover::after {
	content: " ⟶";
}

.go:hover::after {
	content: " ⟶";
}

@import "tailwindcss/utilities";
