@import "tailwindcss/base";
@import "tailwindcss/components";

@font-face {
	font-family: "Fira Code";
	src: url("../public/fonts/FiraCode-Regular.woff2") format("woff2"),
		url("../public/fonts/FiraCode-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Fira Code";
	src: url("../public/fonts/FiraCode-SemiBold.woff2") format("woff2"),
		url("../public/fonts/FiraCode-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

.call a::after {
	content: " ⟶";
}

.call a:hover::after {
	content: " →";
}

nav p::after {
	content: " ⟶";
}

nav p:hover::after {
	content: " →";
}

.to-portfolio {
	background-image: url("../public/images/project01.png"),
		url("../public/images/project02.png"),
		url("../public/images/project03.png");
	background-position: 25% 75%, bottom 50px right 100px, right 35% top 25%;
	background-size: 25% 20%;
	background-repeat: no-repeat;
}

@import "tailwindcss/utilities";

